.App {
  text-align: center;
 

  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color:#e5e5e5; */
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin);
  color: white; */

  background-image: linear-gradient(#1742919a, #174291), url("../../src/images/bg3.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.App-header1 {
  /* background-color:#e5e5e5; */
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin);
  color: white; */

  background-image: linear-gradient(#1742919a, #174291);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.App-header2 {
  background-color:#e5e5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  background-image: linear-gradient(#1742917e, #17429142), url("../../src/images/bg3.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.btn{
  border-radius: 0%;
  border-color: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.button4{
  /* background-color:#ee6c4d; */
  border: none;
  /* color:white; */
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  height:auto
  
  }
  .button4:focus {
    outline: none;
 }

.button3{
  /* background-color:#ee6c4d; */
  border: none;
  /* color:white; */
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  
  }
  .button3:focus {
    outline: none;
 }
  body{
    background-color: #fff;
  }

  


.btn:focus {
   outline: none;
}

@media (min-width: 1200px) {
  .responsive-font {
    font-size: auto;
  }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
  .responsive-font {
    font-size: 11px;
  }
  .hero{
    width: 300px;
  }
}

.hero{
  width: 700px;
}

.btn-outline-primary:hover{
  color: white;
}

.App-previewer {
  
  margin-top: 7%;
  height: 100vh;
 

}

@media screen and (max-width: 800px){
  .App-previewer {
  
    margin-top: 20%;
   
  
  }
}

.btn-outline-secondary:hover{
  color:white
}

#file-upload-btn{
  display:none
}
#download{
  display:none
}

#sendforsigning{
  display:none
}
#downloadv{
  display:none
}
#complete{
  display:none
}
#home{
  display:none
}
#downloadPgShown{
  display: none;
}


#signeddiv{
  display:none
}

#voideddiv{
  display:none
}

#password-validator,#password-mismatch-error,#user-validator,#user-validator-login{
  display:none
}

#invalid-credentials-error{
  display:none
}


.modal-content  {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
}
/* 
body{
  background-color: #174291;


}  */